body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  position: relative;
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5rem;
  margin:  5%;
  color: #FEF2BF;
}

.score {
  color: #fef2bf;
  font-family: 'Press Start 2P';
  position: absolute;
  margin: 55px 0 0 5%;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
.rules{
  color: #fef2bf;
  font-family: 'Press Start 2P';
  text-align:left; 
  line-height: 25px;
}

.track{
  color: #fef2bf;
  font-family: 'Press Start 2P';
  position: absolute;  
  margin-left: 70%;
  line-height: 50px;
}